:root {

  margin: auto;
  padding: auto;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 500;

  color-scheme: light dark;
  color: black;
  background-color: white;

  font-synthesis: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.siparisOnay {
  background-color: #CE2829;
  align-items: center;
  max-width: 100vw;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

.home-title-h2 {
  color: white;
  font-family: Roboto Condensed;
  font-size: 86px;
  font-weight: 300;
  line-height: 92px;
  letter-spacing: 1.5px;
  text-align: center;
}

body {
  margin: 0px;
  object-fit: cover;
  min-width: 520px;
  min-height: 90vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}


ul {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

li {
  display: inline-flex;
  align-items: center;
  flex: 0 0 33.33%;
}



.container {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
}

.container h2 {
  display: flex;
  justify-content: left;
}
.container p {
  display: flex;
  justify-content: left;
}

.pizzaBoyut {
  display: flex;
  justify-content: space-between;
}

.container li:nth-child(1) {
  display: flex;
  justify-content: left;
}
.container li:nth-child(2) {
  display: flex;
  justify-content: flex-end;
  font-family: Barlow;
font-size: 16px;
font-weight: 400;
line-height: 29px;
letter-spacing: 0em;
text-align: right;

}
.container li:nth-child(3) {
  display: flex;
  justify-content: flex-end;
  font-family: Barlow;
font-size: 16px;
font-weight: 400;
line-height: 29px;
letter-spacing: 0em;
text-align: right;
}
.order-confirm {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.order-confirm .complex-buttons {
  flex: 0 0 142px;
}

.order-confirm .complex-buttons button {
  width: 47px;
  height: 56px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px
}

.order-confirm .complex-buttons button:nth-of-type(1) {
  border-radius: 6px 0 0 6px;
}

.order-confirm .complex-buttons button:nth-of-type(2) {
  border-radius: 0;
  background: white;
  border-top: 1px solid rgba(0, 0, 0, .1);
  border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.order-confirm .complex-buttons button:nth-of-type(3) {
  border-radius: 0 6px 6px 0;
}

.order-summary {
  flex: 0 0 386px;
  text-align: left;
}

.order-summary .summary-card {
  padding: 40px 50px;
  border-radius: 6px 6px 0 0;
  border: 1px solid rgba(0, 0, 0, .1);
  border-bottom: none;
}

.order-summary .summary-card h3 {
  margin: 0 0 10px;
  font-family: Barlow;
  font-size: 20px;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;

}

.order-summary .summary-card .value-group {
  display: flex;
  justify-content: space-between;

}

.order-summary .summary-card .value-group .tag {
  font-family: Barlow;
  font-size: 18px;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
  color: #5F5F5F;


}

.order-summary .summary-card .value-group .value {
  font-family: Barlow;
  font-size: 18px;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: right;
  color: #5F5F5F;

}

.order-summary .btn {
  border-radius: 0 0 6px 6px;
  display: block;
  width: 100%;
}

.pizzaInfo {
  display: flex;
  justify-content: left;
}