header {
  padding: 2rem;
  background:red
}

header nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

header nav a {
  color: rgb(39, 39, 39);
  text-decoration: none;
  border-radius: 0.5rem;
  border: 1px solid rgb(62, 62, 62);
  padding: 0.2rem 0.5rem;
  min-width: 5rem;
}

input {
  margin-bottom: 1rem;
  border-radius: 10rem;
  padding: 0.1rem 1rem;
}
