header {
  padding: 2rem;
  background: #C20608;
}

header nav {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 1rem;

}

header nav a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 0.2rem 0.5rem;
  min-width: 1rem;
}

header nav a:active {
  font-weight: bold;
  }

input {
  margin-bottom: 1rem;
  border-radius: 10rem;
  padding: 0.1rem 1rem;
}
